


data/
空PDF/

output/
tmp/
__pycache__/
.vscode/
.DS_Store
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/

**/output/
**/重复识别结果/
重复数据/
tests/
.env
state/
csv_output/

